/* N A V I G A T I O N    B A R  - START */

body {
    margin-bottom: 0;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
}

header {
    height: 14vh;
    width: 100%;
    background-color: darkblue;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
}

#container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

#container1 #festival-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 43%;
    padding: 0;
    margin: 0;
}

#container1 #festival-name p {
    font-family: 'Major Mono Display', monospace;
    padding: 0 10px;
    margin: 0;
    font-size: 5vh;
    text-align: center;
}

#container1 #navigation {
    width: 57%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#container1 #navigation #menu {
    margin-block-start: 0;
    margin-block-end: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#container1 #navigation #menu li {
    font-size: 2.5vh;
    text-transform: uppercase;
    padding: 20px 20px;
    list-style-type: none;
    cursor: pointer;
}

#container1 #navigation #menu li a {
    text-decoration: none;
    color: #fff;
}

#container1 #navigation #menu li a:hover {
    color: deeppink;
}

#container1 #navigation #menu .current a {
    color: burlywood;
}

/* N A V I G A T I O N    B A R  - END */


/* S E C T I O N  1  - JOIN THE REVOLUTION - START */

#container2 {
    height: 180vh;
    background-image: url(../img/background2.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#join-revolution {
    font-size: 4.5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60%;
    text-shadow: 2px 2px darkblue;
}

#join-revolution #slogan {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

#join-revolution #slogan h1 {
    width: 100%;
    animation: move 1s infinite;
}

#join-revolution #slogan p {
    font-size: 2.3vw;
    width: 100%;
    padding: 0;
}

@keyframes move {
    20%, 60% {
        transform: rotateX(10deg);
        transform: translate(0, 5px);
    }
    40%, 80% {
        transform: rotateY(-10deg);
        transform: translate(-5px, 0);
    }
}


/* S E C T I O N  1  - JOIN THE REVOLUTION - END */


/* HOME PAGE - HEADLINERS - START */

#headliners {
    width: 95%;
    height: 35%;
    background-color: #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 20px;
}

#main-names {
    height: 20%;
    width: 100%;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headliner-box {
    position: relative;
    width: 32%;
    height: 75%;
}

.headliner-box a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.headliner-box a img {
    width: 100%;
    height: 100%;
}

.headliner-box a h3 {
    width: 100%;
    height: 100%;
    font-size: 4vw;
    top: 0;
    left: 0;
    margin: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    transition: all 0.5s;
}

.headliner-box a h3:hover {
    color: #fff;
    opacity: 0.8;
}

#the-cure a h3:hover {
    background-color: darkmagenta;
}

#moby a h3:hover {
    background-color: orange;
}

#justice a h3:hover {
    background-color: blue;
}

/* HOME PAGE - HEADLINERS - END */


/* L I N E - U P   - START */

#section2 {
    margin-top: 14vh;
    width: 100%;
    height: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

#gallery {
    width: 95%;
    height: 98%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#gallery .headliner-box {
    width: 33%;
    height: 16%;
    margin-bottom: 5px;
}

#gallery .headliner-box h3 {
    text-align: center;
}

#jon-hopkins a h3:hover, #paul-kalkbrenner a h3:hover, #the-national a h3:hover {
    background-color: deepskyblue;
}

#fever-ray a h3:hover, #primal-scream a h3:hover, #mogwai a h3:hover {
    background-color: green;
}

#kiasmos a h3:hover, #sigur-ros a h3:hover, #the-1975 a h3:hover {
    background-color: deeppink;
}

#kasabian a h3:hover, #underworld a h3:hover {
    background-color: darkmagenta;
}

#martin-garrix a h3:hover, #the-twilight-sad a h3:hover {
    background-color: orange;
}

#marshmello a h3:hover, #royksopp a h3:hover {
    background-color: blue;
}

/* L I N E - U P - END */


/* T I C K E T S  - START */

#section3 {
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
    height: 80vh;
    background-color: #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 14vh;
}

#section3 .ticket-type {
    background-color:  rgb(226, 226, 226);
    height: 90%;
    width: 30%;
    border:burlywood 2px solid;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 150%;
}

#section3 #ticket1 {
    background-image: url(../img/city.jpg);
}

#section3 #ticket2 {
    background-image: url(../img/love.jpg);
}

#section3 #ticket3 {
    background-image: url(../img/stage.JPG);
}

#section3 .ticket-type .x-days {
    width: 100%;
    height: 30%;
    background-color: transparent;
    border-bottom: burlywood 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#section3 .ticket-type .enjoy, #section3 .ticket-type .buy {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#section3 .ticket-type .enjoy {
    height: 35%;
}

#section3 .ticket-type .buy {
    height: 35%;
    display: flex;
}

#section3 .ticket-type h3 {
    font-size: 8vh;
    text-shadow: 2px 2px #555;
}

#section3 .ticket-type p {
    font-size: 4vh;
    text-shadow: 2px 2px #555;
    height: 100%;
    width: 100%;
}

#section3 .ticket-type button {
    height: 60%;
    width: 60%;
    font-size: 5vh;
    color: #fff;
    border: deeppink 0.6px solid;
    font-weight: bold;
    border-radius: 10%;
    background-color: #000;
    opacity: 0.9;
    cursor: pointer;
}

#section3 .ticket-type button:hover {
    background-color: #fff;
    color: #000;
}

/* T I C K E T S  - END */


/* C O N T A C T  - START */

#section4 {
    height: 90vh;
    background-image: url(../img/pica.JPG);
    background-size: cover;
    position: relative;
    font-family: sans-serif;
}

#form-container {
    width: 35%;
    height: 60%;
    background-color: dimgray;
    opacity: 0.8;
    position: absolute;
    top: 20%;
    left: 5%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-container #form {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#form-container #form .input {
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

#form-container #form .input-short {
    height: 15%;
}

#form-container #form #input-tall {
    height: 50%;
}

#form input, #form textarea, #form button {
    width: 95%;
    height: 95%;
    border-radius: 5px;
    border: none;
    text-align: center;
}

#form button {
    font-family: 'Major Mono Display', monospace;
    font-size: 4vh;
    background-color: burlywood;
    font-weight: bold;
    cursor: pointer;
}

/* C O N T A C T  - END */


/* F O O T E R  - START */

#footer {
    height: 10vh;
    background-color: deeppink;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer p {
    margin: 0;
    text-align: center;
    font-size: 12px;
}

/* F O O T E R  - END */