#container {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* C O R P U S - START */
#corpus1 {
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 200px solid rgb(137, 169, 230);
    position: relative;
}

#corpus2 {
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-top: 120px solid rgb(130, 192, 233);
    position: absolute;
    top: 20px;
    left: -80px;
}

.button {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(212, 38, 105);
    position: absolute;
    top: -110px;
}

#button1 {
    left: 20px;
}

#button2 {
    left: -5px;
}

#button3 {
    right: 20px;
}

/* C O R P U S - END */

/* H E A D - START */

#head {
    height: 60px;
    width: 80px;
    background-color: rgb(197, 218, 212);
    position: absolute;
    top: -50px;
    left: -40px;
    border-radius: 5px;
}

.eye {
    height: 12px;
    width: 12px;
    background-color: rgb(51, 192, 98);
    border-radius: 50%;
    position: absolute;
    top: 12px;
}

#eye1 {
    left: 20px;
}

#eye2 {
    right: 20px;
}

#mouth {
    height: 5px;
    width: 30px;
    background-color: rgb(243, 105, 158);
    position: absolute;
    bottom: 15px;
    left: 25px;
}

.ear {
    height: 20px;
    width: 5px;
    position: absolute;
    top: 20px;
    background-color: rgb(192, 168, 141)
}

#ear1 {
    left: -5px;
}

#ear2 {
    right: -5px;
}

.antenna {
    width: 5px;
    height: 40px;
    background-color: rgb(27, 134, 206);
    position: absolute;
    top: -36px;
}

#antenna1 {
    transform: rotate(-35deg);
    left: 27px;
}

#antenna2 {
    transform: rotate(35deg);
    right: 27px;
}


/* H E A D - END */

/* H A N D S - START */

.hand {
    height: 40px;
    width: 30px;
    background-color: rgb(145, 142, 140);
    position: absolute;
    top: 33px;
}

#hand1 {
    transform: rotate(56deg);
    left: -96.5px;
}

#hand2 {
    transform: rotate(-56deg);
    right: -96.5px;
}

.element1 {
    position: absolute;
    bottom: -20px;
    left: 7.5px;
    height: 20px;
    width: 15px;
    background-color: rgb(190, 147, 201);
}

.element2 {
    position: absolute;
    bottom: -30px;
    left: 2.5px;
    height: 10px;
    width: 25px;
    background-color: rgb(240, 160, 69);
}

/* H A N D S - END */

/* L E G S - START */

.leg {
    height: 80px;
    width: 25px;
    background-color: rgb(190, 147, 201);
    position: absolute;
    bottom: -280px;
}

#leg1 {
    left: 7px;
}

#leg2 {
    right: 7px;
}

.wheel {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgb(145, 136, 129);
    position: absolute;
    bottom: -27px;
    left: -1.5px;
    border: 1px solid rgb(0,0,0);
}

.element3, .element4, .element5 {
    height: 24px;
    width: 1px;
    background-color: rgb(63, 60, 59);
    position: absolute;
    top: 0.5px;
    left: 12px;
}

.element3 {
    transform: rotate(60deg);
}

.element4 {
    transform: rotate(120deg);

}


/* L E G S - END */

