.pad-tap {
    /* transition: all 0.3s; */
    border-color: deeppink;
    transform: scale(0.98,0.98);
}

.button-click {
    /* transition: all 0.2s; */
    border: #ddd 1px solid;
}

.speeder-click {
    /* transition: all 0.3s; */
    transform: scale(0.97,0.97);
}

.key-click {
    background-color: rgb(106, 141, 240);
    /* transition: all 0.5s; */
}

.black-key-click {
    background-color: rgb(12, 94, 32);
    /* transition: all 0.5s; */
}

