$colors: (
    lemon: rgb(114, 164, 17),
    dark-grey: rgb(38,38,38),
    middle-grey: rgb(136, 133, 133),
    light-grey: rgb(220, 220, 220)
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

body, html {
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

nav#nav-bar {
    height: 70px;
    width: 100%;
    background-color: color(dark-grey);
    display: flex;
    justify-content: space-between;

    h1 {
        padding: 0;
        margin: 0;
        color: color(lemon);
        font-family: 'Dancing Script', cursive;
        font-size: 2.5em;
        height: 100%;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ul {
        height: 100%;
        width: 40%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
        margin-right: 6%;
        padding-inline-start: 0;

        li {
            list-style-type: none;
            a {
                text-decoration: none;
                color: color(light-grey);
                font-family: 'Krub', sans-serif;
            }
        }
    }
}

section#main {
    height: 105vh;
    width: 100%;
    background-image: url(../img/intro-bg.png);
    background-size: 100%;
    opacity: 0.9;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    h1, p {
        width: 100%;
        text-align: center;
        color: rgb(255,255,255);
    }

    h1 {
        margin: 0;
        font-family: 'Dancing Script', cursive;
        font-size: 9em;
    }

    p {
        font-size: 2.2em;
        margin: 0;
    }

    a {
        background-color: color(lemon);
        width: 200px;
        height: 50px;
        text-decoration: none;
        color: rgb(255,255,255);
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Krub', sans-serif;
        font-size: 1em;
        margin-top: 50px;
    }
}

section#about {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    #container-about {
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;

        #image, #text-about {
            height: 100%;
            width: 40%;
            display: flex;
            justify-items: center;
            align-items: center;
        }

        #image img {
            width: 85%;
        }

        #text-about {
            display: flex;
            justify-content: flex-start;
            align-content: space-evenly;
            flex-wrap: wrap;
            color: color(dark-grey);
            height: 100%;

            h3, p, h2 {
                margin: 0;
            }

            h2 {
                font-size: 2.2em;
            }

            h3 {
                font-size: 1.8em;
            }

            p {
                font-size: 1.2em;
            }

        }
    
    }
}

section#menu {
    color: rgb(255,255,255);
    height: 130vh;
    background-image: url(../img/menu-bg.jpg);
    background-size: cover;
    background-attachment: fixed;

    #menu-main {
        height: 30%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;

        h3, p {
            width: 100%;
            text-align: center;
        }

        #menu-main-text {
            display: flex;
            justify-content: center;
            align-items: space-evenly;
            flex-wrap: wrap;

            h3 {
                width: 100%;
                font-size: 3.5vw;
                margin: 0;
            }
            
            .green-line {
                background-color: color(lemon);
                width: 50px;
                height: 2px;
            }
        }
        
        p {
            font-size: 2vw;
        }
    }

    #menu-card {
        height: 70%;
        background-color:rgb(255,255,255);
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        color: color(dark-grey);

        .menu-card-column {
            width: 40%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .menu-card-container {
                height: 90%;
                width: 90%;

                .menu-card-title {
                    height: 15%;
                    display: flex;
                    justify-content: center;
                    align-content: space-evenly;
                    flex-wrap: wrap;

                    h3 {
                        width: 100%;
                        font-size: 2.5vw;
                        margin: 0;
                        text-align: center;
                    }
                    
                    .green-line {
                        background-color: color(lemon);
                        width: 50px;
                        height: 2px;
                    }
                }
                .menu-card-dishes {
                    height: 85%;

                    .dish-container {
                        height: 20%;

                        .dish-name {
                            height: 35%;
                            border-bottom: 2px dotted color(light-grey);
                            font-size: 1.8vw;
                            font-weight: bold;
                            display: flex;
                            justify-content: space-between;

                            h5 {
                                margin: 0;
                                width: 30%;
                            }

                            .price {
                                display: flex;
                                justify-content: flex-end;
                            }
                        }

                        .dish-description {
                            height: 65%;
                            font-size: 1.3vw;
                            font-style: italic;
                        }
                    }
                }
            }
        }
    }
}


section#gallery {
    color: rgb(255,255,255);
    height: 200vh;
    background-image: url(../img/gallery-bg.jpg);
    background-size: cover;
    background-attachment: fixed;

    #gallery-main {
        height: 23%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;

        h3, p {
            width: 100%;
            text-align: center;
        }

        #gallery-main-text {
            display: flex;
            justify-content: center;
            align-items: space-evenly;
            flex-wrap: wrap;

            h3 {
                width: 100%;
                font-size: 3.5vw;
                margin: 0;
            }
            
            .green-line {
                background-color: color(lemon);
                width: 50px;
                height: 2px;
            }
        }
        
        p {
            font-size: 2vw;
        }
    }

    #gallery-photos {
        background-color:rgb(255,255,255);
        height: 77%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        #gallery-categories {
            height: 10%;
            width: 60%;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-end;

            a {
                width: 20%;
                height: 40%;
                font-size: 1.6vw;
                text-decoration: none;
                color: color(middle-grey);
                background-color: color(light-grey);
                display: flex;
                justify-content: center;
                align-items: center;
            }

            a:hover {
                background-color: color(lemon);
                color: rgb(255,255,255);
            }
        }

        #gallery-container {
            height: 80%;
            width: 80%;
            display: flex;
            justify-content: space-evenly;
            align-content: space-evenly;
            flex-wrap: wrap;

            a {
                height: 20%;
                width: 30%;
                position: relative;

                img {
                    height: 100%;
                    width: 100%;
                }

                p {
                    margin: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    font-size: 2.5vw;
                    font-weight: bold;
                    color: rgb(255,255,255);
                    background-color: color(dark-grey);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                p:hover {
                    opacity: 0.9;
                    transition: all 0.5s;
                }
            }
        }
    }
}

section#contact {
    height: 50vh;

    #contact-phone {
        height: 45%;
        background-color: color(lemon);
        color: rgb(255,255,255);
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
            margin: 0;
            font-size: 3.5vw;
        }
    }

    #contact-address {
        height: 55%;
        display: flex;
        background-color: color(dark-grey);
        color: white;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        #address-section1, #address-section2 {
            width: 30%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            p {
                margin: 0;
                width: 40%;
                height: 60%;
                text-align: right;
                display: flex;
                align-items: flex-start;
            }
        }

        #address-section2 {
            justify-content: flex-start;

            p {
                text-align: left;
            }
        }
    }
}
