$colors: (
    lemon: rgb(114, 164, 17),
    dark-grey: rgb(38,38,38),
    middle-grey: rgb(136, 133, 133),
    light-grey: rgb(220, 220, 220),
    white1: rgb(255,255,255)
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

@mixin flex($justify, $alg-items, $alg-content, $wrap){ 
    display: flex;
    justify-content: $justify;
    align-items: $alg-items;
    align-content: $alg-content;
    flex-wrap: $wrap;
}

@mixin size($height, $width){
    height: $height;
    width: $width;
}

// RESPONSIVE
@mixin desktop($desktop) {
    @media (max-width: #{$desktop}) {
        @content;
    }
}

@mixin responsive-height-width($desktop1, $height1, $width1, $desktop2, $height2, $width2) {
    @media (max-width: #{$desktop1}) {
        height: $height1;
        width: $width1;
    }
    @media (max-width: #{$desktop2}) {
        height: $height2;
        width: $width2;
    }
}

@mixin responsive-font($desktop1, $font1, $desktop2, $font2) {
    @media (max-width: #{$desktop1}) {
        font-size: $font1;
    }
    @media (max-width: #{$desktop2}) {
        font-size: $font2;
    }
}

//  - -- - -- - SASS - -- - RULES - -- - END -- - -- - -- 

body, html {
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

#main {
    @include size(105vh, 100%);
    @include flex(center, center, center, wrap);
    background-image: url(../img/intro-bg.png);
    background-size: cover;
    opacity: 0.9;
    background-repeat: no-repeat;

    .nav-bar {
        @include size(70px, 100%);
        @include flex(space-between, 0, 0, 0);
        background-color: color(dark-grey);
        position: fixed;
        top: 0;
        z-index: 10;

        @include desktop(776px) {
            @include size(50px, 100%);
        }

        h1 {
            padding: 0;
            margin: 0;
            @include size(100%, 20%);
            @include flex(center, center, 0, 0);           
            color: color(lemon);
            font-family: 'Dancing Script', cursive;
            font-size: 3vw;

            @include desktop(560px) {
                font-size: 1.2em;
            }
        }
    
        ul {
            @include size(100%, 40%);
            @include flex(space-evenly, center, 0, 0);
            margin: 0;
            margin-right: 6%;
            padding-inline-start: 0;
            text-transform: uppercase;

            @include responsive-height-width(776px, 100%, 60%, 560px, 100%, 80%);
            @include responsive-font(776px, 0.9em, 560px, 0.8em);
    
            li {
                list-style-type: none;
                a {
                    text-decoration: none;
                    color: color(light-grey);
                    font-family: 'Krub', sans-serif;
                }
                a:hover {
                    color: color(lemon);
                }
            }
        }
    }

    h1, p {
        width: 100%;
        text-align: center;
        color: color(white1);
    }

    h1 {
        margin: 0;
        font-family: 'Dancing Script', cursive;
        font-size: 10vw;

        @include responsive-font(960px, 14vw, 480px, 18vw);
    }

    p {
        font-size: 2.2vw;
        margin: 0;

        @include responsive-font(776px, 3vw, 480px, 4vw);
    }

    .discover {
        background-color: color(lemon);
        @include size(35px, 150px);
        @include flex(center, center, 0, 0);
        text-decoration: none;
        color: color(white1);
        font-family: 'Krub', sans-serif;
        font-size: 0.8em;
        margin-top: 50px;
        text-transform: uppercase;
    }
}

#about {
    @include size(90vh, 100%);
    @include flex(center, center, 0, 0);

    .container-about {
        @include size(70%, 100%);
        @include flex(center, 0, 0, wrap);
        
        @include desktop(776px) {
            @include flex(center, 0, space-evenly, wrap);
        }

        .image, .text-about {
            @include size(100%, 40%);
            @include flex(0, center, 0, 0);
            
            @include desktop(776px) {
                @include size(100%, 90%);
            }
        }

        .image {
            @include desktop(776px) {
                @include size(0%, 40%);
            }

            img {
                width: 85%;

                @include desktop(776px) {
                    position: absolute;
                    opacity: 0;
                }
            }
        }

        .text-about {
            @include flex(flex-start, 0, space-evenly, wrap);
            color: color(dark-grey);
            height: 100%;

            h3, p, h2 {
                margin: 0;
            }

            h2 {
                font-size: 2.2vw;
                text-transform: uppercase;

                @include desktop(776px) {
                    font-size: 3vw;
                }
            }

            h3 {
                font-size: 1.8vw;

                @include desktop(776px) {
                    font-size: 3vw;
                }
            }

            p {
                font-size: 1.4vw;

                @include responsive-font(960px, 2vw, 776px, 2.5vw);
            }
        }
    }
}

#menu {
    color: color(white1);
    @include size(130vh, 100%);
    background-image: url(../img/menu-bg.jpg);
    background-size: cover;
    background-attachment: fixed;

    @include desktop(776px) {
        @include size(260vh, 100%);
    }

    .menu-main {
        @include size(30%, 100%);
        @include flex(center, 0, center, wrap);

        @include desktop(776px) {
            @include size(15%, 100%);
        }

        h3, p {
            width: 100%;
            text-align: center;
        }

        .menu-main-text {
            @include flex(center, space-evenly, 0, wrap);

            h3 {
                width: 100%;
                font-size: 3.5vw;
                margin: 0;
                text-transform: uppercase;

                @include responsive-font(776px, 4.5vw, 480px, 5.5vw);
            }
            
            hr {
                background-color: color(lemon);
                @include size(2px, 50px);
                border: none;
            }
        }
        
        p {
            font-size: 2vw;

            @include responsive-font(776px, 2.5vw, 480px, 3.5vw);
        }
    }

    .menu-card {
        @include size(70%, 100%);
        @include flex(space-evenly, 0, 0, wrap);
        background-color:color(white1);
        color: color(dark-grey);

        @include desktop(776px) {
            @include size(85%, 100%);
        }

        .menu-card-column {
            @include size(100%, 40%);
            @include flex(center, center, 0, 0);

            @include desktop(776px) {
                @include size(50%, 70%);
            }

            .menu-card-container {
                @include size(90%, 90%);

                .menu-card-title {
                    @include size(15%, 100%);
                    @include flex(center, 0, space-evenly, wrap);

                    h3 {
                        width: 100%;
                        font-size: 2.5vw;
                        margin: 0;
                        text-align: center;
                        text-transform: uppercase;

                        @include desktop(480px) {
                            font-size: 4vw;
                        }
                    }
                    
                    hr {
                        background-color: color(lemon);
                        @include size(2px, 50px);
                        border: none;
                    }
                }
                .menu-card-dishes {
                    @include size(85%, 100%);

                    .dish-container {
                        @include size(20%, 100%);

                        .dish-name {
                            @include size(35%, 100%);
                            border-bottom: 2px dotted color(light-grey);
                            font-size: 1.8vw;
                            font-weight: bold;
                            @include flex(space-between, 0, 0, 0);

                            @include responsive-font(776px, 2.5vw, 480px, 3vw);

                            h4 {
                                margin: 0;
                                width: 30%;
                            }

                            .price {
                                @include flex(flex-end, 0, 0, 0);
                            }
                        }

                        .dish-description {
                            @include size(65%, 100%);
                            font-size: 1.3vw;
                            font-style: italic;

                            @include responsive-font(776px, 2vw, 480px, 2.5vw);
                        }
                    }
                }
            }
        }
    }
}


#gallery {
    @include size(200vh, 100%);
    background-image: url(../img/gallery-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: color(white1);

    @include responsive-height-width(960px, 250vh, 100%, 480px, 400vh, 100%);

    .gallery-main {
        @include size(23%, 100%);
        @include flex(center, 0, center, wrap);

        @include responsive-height-width(960px, 15%, 100%, 480px, 10%, 100%);

        h3, p {
            width: 100%;
            text-align: center;
        }

        .gallery-main-text {
            @include flex(center, space-evenly, 0, wrap);

            h3 {
                width: 100%;
                font-size: 3.5vw;
                margin: 0;
                text-transform: uppercase;

                @include responsive-font(776px, 4.5vw, 480px, 5.5vw);
            }
            
            hr {
                background-color: color(lemon);
                @include size(2px, 50px);
                border: none;
            }
        }
        
        p {
            font-size: 2vw;

            @include responsive-font(776px, 2.5vw, 480px, 3.5vw);
        }
    }

    .gallery-photos {
        background-color: color(white1);
        @include size(77%, 100%);
        @include flex(center, center, 0, wrap);

        @include responsive-height-width(960px, 85%, 100%, 480px, 90%, 100%);

        .gallery-container {
            @include size(90%, 80%);
            @include flex(space-evenly, 0, space-evenly, wrap);

            @include desktop(480px) {
                @include size(97%, 100%);
            }

            a {
                @include size(21%, 30%);
                position: relative;

                @include responsive-height-width(960px, 13%, 45%, 480px, 8%, 80%);

                img {
                    @include size(100%, 100%);
                    z-index: 1;
                }

                p {
                    margin: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    @include size(100%, 100%);
                    opacity: 0;
                    font-size: 2.5vw;
                    font-weight: bold;
                    color: color(white1);
                    background-color: color(dark-grey);
                    @include flex(center, center, 0, 0);

                    @include responsive-font(960px, 3vw, 480px, 5vw);
                }

                p:hover {
                    opacity: 0.9;
                    transition: all 0.5s;
                }
            }
        }
    }
}

#contact {
    @include size(50vh, 100%);

    .contact-phone {
        @include size(45%, 100%);
        background-color: color(lemon);
        color: color(white1);
        @include flex(center, center, 0, 0);

        h3 {
            margin: 0;
            font-size: 3.5vw;
            text-transform: uppercase;

            @include responsive-font(960px, 4vw, 480px, 5vw);
        }
    }

    .contact-address {
        @include size(55%, 100%);
        display: flex;
        background-color: color(dark-grey);
        color: white;
        @include flex(center, flex-start, 0, 0);

        .address-section {
            @include size(80%, 30%);
            @include flex(center, center, 0, wrap);

            h3, p {
                @include flex(center, center, 0, 0);
                text-align: center;
            }

            h3 {
                @include size(60%, 100%);
                margin: 0;
                font-size: 2vw;
                color: color(lemon);
                align-items: flex-end;
                text-transform: uppercase;

                @include responsive-font(960px, 3vw, 480px, 3.5vw);
            }

            p {
                margin: 0;
                @include size(40%, 100%);

                @include responsive-font(960px, 2.2vw, 480px, 2vw);
            }
        }
    }
}