$colors: (
    lemon: rgb(114, 164, 17),
    dark-grey: rgb(38,38,38),
    middle-grey: rgb(136, 133, 133),
    light-grey: rgb(220, 220, 220)
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

@mixin flex($justify, $alg-items, $alg-content, $wrap){ 
    display: flex;
    justify-content: $justify;
    align-items: $alg-items;
    align-content: $alg-content;
    flex-wrap: $wrap;
}

body, html {
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

section#main {
    height: 105vh;
    width: 100%;
    background-image: url(../img/intro-bg.png);
    background-size: 100%;
    opacity: 0.9;
    background-repeat: no-repeat;
    @include flex(center, center, center, wrap);

    nav#nav-bar {
        height: 70px;
        width: 100%;
        background-color: transparent;
        @include flex(space-between, 0, 0, 0);
        position: fixed;
        top: 0;
        z-index: 10;

        h1 {
            padding: 0;
            margin: 0;
            color: color(lemon);
            font-family: 'Dancing Script', cursive;
            font-size: 2.5em;
            height: 100%;
            width: 20%;
            @include flex(center, center, 0, 0);
        }
    
        ul {
            height: 100%;
            width: 40%;
            @include flex(space-evenly, center, 0, 0);
            margin: 0;
            margin-right: 6%;
            padding-inline-start: 0;
    
            li {
                list-style-type: none;
                a {
                    text-decoration: none;
                    color: color(light-grey);
                    font-family: 'Krub', sans-serif;
                }
                a:focus {
                    color: color(lemon);
                }
            }
        }
    }

    h1, p {
        width: 100%;
        text-align: center;
        color: rgb(255,255,255);
    }

    h1 {
        margin: 0;
        font-family: 'Dancing Script', cursive;
        font-size: 9em;
    }

    p {
        font-size: 2.2em;
        margin: 0;
    }

    a#discover {
        background-color: color(lemon);
        width: 200px;
        height: 50px;
        text-decoration: none;
        color: rgb(255,255,255);
        @include flex(center, center, 0, 0);
        font-family: 'Krub', sans-serif;
        font-size: 1em;
        margin-top: 50px;
    }
}

section#about {
    height: 90vh;
    width: 100%;
    @include flex(center, center, 0, 0);

    #container-about {
        width: 100%;
        height: 70%;
        @include flex(center, 0, 0, 0);

        #image, #text-about {
            height: 100%;
            width: 40%;
            @include flex(0, center, 0, 0);
        }

        #image img {
            width: 85%;
        }

        #text-about {
            @include flex(flex-start, 0, space-evenly, wrap);
            color: color(dark-grey);
            height: 100%;

            h3, p, h2 {
                margin: 0;
            }

            h2 {
                font-size: 2.2em;
            }

            h3 {
                font-size: 1.8em;
            }

            p {
                font-size: 1.2em;
            }
        }
    }
}

section#menu {
    color: rgb(255,255,255);
    height: 130vh;
    background-image: url(../img/menu-bg.jpg);
    background-size: cover;
    background-attachment: fixed;

    #menu-main {
        height: 30%;
        @include flex(center, 0, center, wrap);

        h3, p {
            width: 100%;
            text-align: center;
        }

        #menu-main-text {
            @include flex(center, space-evenly, 0, wrap);

            h3 {
                width: 100%;
                font-size: 3.5vw;
                margin: 0;
            }
            
            .green-line {
                background-color: color(lemon);
                width: 50px;
                height: 2px;
            }
        }
        
        p {
            font-size: 2vw;
        }
    }

    #menu-card {
        height: 70%;
        background-color:rgb(255,255,255);
        @include flex(space-evenly, 0, 0, wrap);

        color: color(dark-grey);

        .menu-card-column {
            width: 40%;
            height: 100%;
            @include flex(center, center, 0, 0);

            .menu-card-container {
                height: 90%;
                width: 90%;

                .menu-card-title {
                    height: 15%;
                    @include flex(center, 0, space-evenly, wrap);

                    h3 {
                        width: 100%;
                        font-size: 2.5vw;
                        margin: 0;
                        text-align: center;
                    }
                    
                    .green-line {
                        background-color: color(lemon);
                        width: 50px;
                        height: 2px;
                    }
                }
                .menu-card-dishes {
                    height: 85%;

                    .dish-container {
                        height: 20%;

                        .dish-name {
                            height: 35%;
                            border-bottom: 2px dotted color(light-grey);
                            font-size: 1.8vw;
                            font-weight: bold;
                            @include flex(space-between, 0, 0, 0);

                            h5 {
                                margin: 0;
                                width: 30%;
                            }

                            .price {
                                @include flex(flex-end, 0, 0, 0);
                            }
                        }

                        .dish-description {
                            height: 65%;
                            font-size: 1.3vw;
                            font-style: italic;
                        }
                    }
                }
            }
        }
    }
}


section#gallery {
    color: rgb(255,255,255);
    height: 200vh;
    background-image: url(../img/gallery-bg.jpg);
    background-size: cover;
    background-attachment: fixed;

    #gallery-main {
        height: 23%;
        @include flex(center, 0, center, wrap);

        h3, p {
            width: 100%;
            text-align: center;
        }

        #gallery-main-text {
            @include flex(center, space-evenly, 0, wrap);

            h3 {
                width: 100%;
                font-size: 3.5vw;
                margin: 0;
            }
            
            .green-line {
                background-color: color(lemon);
                width: 50px;
                height: 2px;
            }
        }
        
        p {
            font-size: 2vw;
        }
    }

    #gallery-photos {
        background-color:rgb(255,255,255);
        height: 77%;
        @include flex(center, 0, 0, wrap);

        #gallery-categories {
            height: 10%;
            width: 60%;
            @include flex(space-evenly, flex-end, 0, 0);

            a {
                width: 20%;
                height: 40%;
                font-size: 1.6vw;
                text-decoration: none;
                color: color(middle-grey);
                background-color: color(light-grey);
                @include flex(center, center, 0, 0);
            }

            a:hover {
                background-color: color(lemon);
                color: rgb(255,255,255);
            }
        }

        #gallery-container {
            height: 80%;
            width: 80%;
            @include flex(space-evenly, 0, space-evenly, wrap);

            a {
                height: 20%;
                width: 30%;
                position: relative;

                img {
                    height: 100%;
                    width: 100%;
                    z-index: 1;
                }

                p {
                    margin: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    font-size: 2.5vw;
                    font-weight: bold;
                    color: rgb(255,255,255);
                    background-color: color(dark-grey);
                    @include flex(center, center, 0, 0);
                }

                p:hover {
                    opacity: 0.9;
                    transition: all 0.5s;
                }
            }
        }
    }
}

section#contact {
    height: 50vh;

    #contact-phone {
        height: 45%;
        background-color: color(lemon);
        color: rgb(255,255,255);
        @include flex(center, center, 0, 0);

        h3 {
            margin: 0;
            font-size: 3.5vw;
        }
    }

    #contact-address {
        height: 55%;
        display: flex;
        background-color: color(dark-grey);
        color: white;
        @include flex(center, flex-start, 0, 0);

        .address-section {
            width: 30%;
            height: 80%;
            @include flex(center, center, 0, wrap);

            h3, p {
                @include flex(center, center, 0, 0);
                text-align: center;
            }

            h3 {
                width: 100%;
                height: 60%;
                margin: 0;
                font-size: 2vw;
                color: color(lemon);
                align-items: flex-end;
            }

            p {
                margin: 0;
                height: 40%;
            }
        }
    }
}

// ANIMATIONS 
nav .bar-scroll {
    background-color: color(dark-grey);
    transition: 0.5s;
}

nav .active-link {
    color: color(lemon);
}