$colors: (
    pink-beige: rgb(197, 142, 142),
    green-sea: rgb(44, 131, 109),
    plummy: rgb(91, 56, 138),
    blue-sky: rgb(76, 162, 219),
    grey1: rgb(82, 75, 75),
    white1: rgb(255,255,255)
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

@mixin flex($justify, $alg-items, $alg-content, $wrap){ 
    display: flex;
    justify-content: $justify;
    align-items: $alg-items;
    align-content: $alg-content;
    flex-wrap: $wrap;
}

@mixin size($height, $width){
    height: $height;
    width: $width;
}

body, html {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255,255,255);
}

.header {
    @include size(13vh, 89%);
    @include flex(flex-end, 0, 0, 0);

    .icons-container {
        @include size(100%, 13%);
        @include flex(space-between, center, 0, 0);

        a {
            i {
                color: color(grey1);
                transform: scale(1.5,1.5);
            }
        }

        a:hover {
            transform: scale(1.1,1.1);
            i {
                color: color(green-sea);
            }
        } 
    }
}

.about {
    @include size(60vh, 100%);
    @include flex(center, 0, 0, wrap);
    color: color(grey1);
    position: relative;

    .text-about-1 {
        @include size(98%, 40%);
        @include flex(flex-start, center, 0, 0);

        h1 {
            font-size: 3.2vw;
            margin: 0;
        }
    }

    .text-about-2 {
        @include size(98%, 40%);
        @include flex(flex-start, center, 0, 0);

        p {
            font-size: 1vw;
            text-align: justify;
            margin: 0;
        }
    }

    hr {
        @include size(1px, 80%);
        background-color: color(grey1);
        position: absolute;
        left: 10%;
        bottom: 0;        
        margin: 0;
        border: none;
    }
}

.portfolio {
    @include size(140vh, 100%);
    @include flex(center, 0, space-evenly, wrap);

    .title-container {
        @include size(15%, 75%);
        @include flex(center, flex-end, 0, 0);

        h2 {
            margin: 0;
            font-size: 2vw;
            text-transform: uppercase;
            color: color(grey1);
        }
    }

    .projects-container {
        @include size(80%, 80%);
        @include flex(space-evenly, 0, space-evenly, wrap);

        a {
            @include size(40%, 45%);
            position: relative;

            img {
                @include size(100%, 100%);
            }

            .project {
                @include size(100%, 100%);
                @include flex(center, 0, space-evenly, wrap);
                position: absolute;
                top: 0;
                left: 0;
                background-color: color(plummy);
                opacity: 0;
                color: color(white1);

                h3 {
                    @include size(30%, 90%);
                    @include flex(center, center, 0, 0);
                    font-size: 1.2vw;
                    text-transform: uppercase;
                    margin: 0;
                }

                p {
                    @include size(50%, 90%);
                    @include flex(center, center, 0, 0);
                    font-size: 1vw;
                    text-align: justify;
                    margin: 0;
                }
            }

            .project:hover {
                opacity: 0.9;
                transition: 0.5s;
            }
        }
    }

}