$colors: (
    pink-beige: rgb(197, 142, 142),
    green-sea: rgb(44, 131, 109),
    plummy: rgb(91, 56, 138),
    blue-sky: rgb(69, 155, 212),
    grey1: rgb(82, 75, 75)
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

@mixin flex($justify, $alg-items, $alg-content, $wrap){ 
    display: flex;
    justify-content: $justify;
    align-items: $alg-items;
    align-content: $alg-content;
    flex-wrap: $wrap;
}

@mixin size($height, $width){
    height: $height;
    width: $width;
}

body, html {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255,255,255);
}

.header {
    @include size(13vh, 100%);
    @include flex(flex-end, 0, 0, 0);

    .icons-container {
        @include size(100%, 20%);
        @include flex(space-evenly, center, 0, 0);
        margin-right: 20px;

        a {
            i {
                color: color(grey1);
                transform: scale(1.5,1.5);
            }
        }

        a:hover {
            transform: scale(1.1,1.1);
            i {
                color: color(green-sea);
            }
        } 
    }
}

.about {
    @include size(60vh, 100%);
    @include flex(center, 0, 0, wrap);
    color: color(grey1);
    position: relative;

    .text-about-1 {
        @include size(98%, 40%);
        @include flex(flex-start, center, 0, 0);

        h1 {
            font-size: 3.2vw;
            margin: 0;
        }
    }

    .text-about-2 {
        @include size(98%, 40%);
        @include flex(flex-start, center, 0, 0);

        p {
            font-size: 1vw;
            text-align: justify;
            margin: 0;
        }
    }

    hr {
        @include size(1px, 80%);
        background-color: color(grey1);
        position: absolute;
        left: 10%;
        bottom: 0;        
        margin: 0;
        border: none;
    }
}

.portfolio {
    @include size(100vh, 100%);

    
}