$colors: (
    green-sea: rgb(51, 150, 125),
    grey1: rgb(82, 75, 75),
    white1: rgb(255,255,255)
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

@mixin flex($justify, $alg-items, $alg-content, $wrap){ 
    display: flex;
    justify-content: $justify;
    align-items: $alg-items;
    align-content: $alg-content;
    flex-wrap: $wrap;
}

@mixin size($height, $width){
    height: $height;
    width: $width;
}

@mixin desktop($desktop) {
    @media (max-width: #{$desktop}) {
        @content;
    }
}

@mixin responsive-font($size840, $size650, $size480) {
    @media (max-width: 840px) {
        font-size: $size840;
    }

    @media (max-width: 650px) {
        font-size: $size650;
    }

    @media (max-width: 480px) {
        font-size: $size480;
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //

body, html {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255,255,255);
}

.header {
    @include size(11vh, 90%);
    @include flex(flex-end, 0, 0, 0);
    background-color: color(white1);
    position: fixed;
    z-index: 2;

    .icons-container {
        @include size(100%, 13%);
        @include flex(space-between, center, 0, 0);

        @include desktop(840px) {
            @include size(100%, 15%);
        }

        @include desktop(650px) {
            @include size(100%, 20%);
        }

        @include desktop(480px) {
            @include size(100%, 25%);
        }

        a {
            i {
                color: color(grey1);
                transform: scale(1.5,1.5);

                @include desktop(840px) {
                    transform: scale(1.3,1.3);
                }

                @include desktop(650px) {
                    transform: scale(1.1,1.1);
                }

                @include desktop(480px) {
                    transform: scale(1.0,1.0);
                }
            }
        }

        a:hover {
            transform: scale(1.1,1.1);
            i {
                color: color(green-sea);
            }
        } 
    }
}

.about {
    @include size(80vh, 100%);
    @include flex(center, 0, center, wrap);
    color: color(grey1);
    position: relative;

    @include desktop(480px) {
        @include size(70vh, 100%);
    }

    .text-about-1 {
        @include size(98%, 40%);
        @include flex(flex-start, center, 0, 0);

        @include desktop(650px) {
            @include size(40%, 80%);
            @include flex(flex-start, flex-end, 0, 0);
        }

        h1 {
            font-size: 3.2vw;
            margin: 0;

            @include responsive-font(3.8vw, 4.5vw, 6vw);
        }
    }

    .text-about-2 {
        @include size(98%, 40%);
        @include flex(flex-start, center, 0, 0);

        @include desktop(650px) {
            @include size(35%, 80%);
        }

        p {
            font-size: 1.1vw;
            text-align: justify;
            margin: 0;

            @include responsive-font(1.5vw, 2vw, 2.5vw);
            @include desktop(650px) {
                line-height: 1.3;
            }
        }
    }

    hr {
        @include size(1px, 80%);
        background-color: color(grey1);
        position: absolute;
        left: 10%;
        bottom: 0;        
        margin: 0;
        border: none;
    }
}

.portfolio {
    @include size(140vh, 100%);
    @include flex(center, 0, center, wrap);

    @include desktop(650px) {
        @include size(200vh, 100%);
    }

    @include desktop(480px) {
        @include size(180vh, 100%);
    }

    .title-container {
        @include size(8%, 75%);
        @include flex(center, flex-end, 0, 0);

        @include desktop(650px) {
            @include size(5%, 75%);
        }

        h2 {
            margin: 0;
            font-size: 2vw;
            text-transform: uppercase;
            color: color(grey1);

            @include responsive-font(2.5vw, 3vw, 3.5vw);
        }
    }

    .projects-container {
        @include size(80%, 80%);
        @include flex(space-evenly, 0, space-evenly, wrap);

        @include desktop(650px) {
            @include size(90%, 80%);
        }

        a {
            @include size(40%, 40%);
            position: relative;
            border-radius: 3%;

            @include desktop(650px) {
                @include size(20%, 80%);
            }

            img {
                @include size(100%, 100%);
                border-radius: 3%;
            }

            .project {
                @include size(100%, 100%);
                @include flex(center, 0, center, wrap);
                position: absolute;
                top: 0;
                left: 0;
                background-color: color(grey1);
                opacity: 0;
                color: color(white1);
                border-radius: 3%;

                h3 {
                    @include size(30%, 90%);
                    @include flex(center, center, 0, 0);
                    font-size: 1.2vw;
                    text-transform: uppercase;
                    margin: 0;

                    @include responsive-font(1.5vw, 2vw, 2.5vw);
                }

                p {
                    @include size(30%, 75%);
                    @include flex(center, center, 0, 0);
                    font-size: 1vw;
                    text-align: center;
                    margin: 0;

                    @include responsive-font(1.2vw, 1.5vw, 2vw);
                }
            }

            .project:hover {
                opacity: 0.85;
                transition: 0.5s;
            }
        }
    }
}

.footer {
    @include size(15vh,100%);
    background-color: color(grey1);
    @include flex(center, center, 0, 0);

    p {
        font-size: 1vw;
        @include responsive-font(1.5vw, 2vw, 2.5vw);
    }
}